@charset "UTF-8";
@font-face {
  font-family: "my-icons";
  src: url("./my-icons.eot?#iefix") format("eot"), url("./my-icons.woff") format("woff"); }

.my-icon-svg {
  width: 24px;
  height: 24px; }

[class^="my-icon-"] {
  font-size: 24px; }

.my-icon-app:before, .my-icon-domain:before, .my-icon-instance:before, .my-icon-log:before, .my-icon-logout:before, .my-icon-monitor:before, .my-icon-oauth:before, .my-icon-service:before, .my-icon-user:before, .my-icon-work-order-2:before, .my-icon-work-order:before {
  font-family: "my-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.my-icon-app:before {
  content: ""; }

.my-icon-domain:before {
  content: ""; }

.my-icon-instance:before {
  content: ""; }

.my-icon-log:before {
  content: ""; }

.my-icon-logout:before {
  content: ""; }

.my-icon-monitor:before {
  content: ""; }

.my-icon-oauth:before {
  content: ""; }

.my-icon-service:before {
  content: ""; }

.my-icon-user:before {
  content: ""; }

.my-icon-work-order-2:before {
  content: ""; }

.my-icon-work-order:before {
  content: ""; }
