{
  "presets": [["es2015", { "loose": true, "comment": true }], "stage-0"],
  "plugins": ["transform-runtime", "transform-vue-jsx", "syntax-dynamic-import", "transform-decorators-legacy"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["element-ui"],
          "alias": {
            "element-ui/src": "element-ui/lib"
          }
        }]
      ]
    }
  }
}

//{
//  "presets": [
//    ["env", {
//      "comment": true,
//      "modules": false,
//      "targets": {
//        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
//      }
//    }],
//    "stage-0"
//  ],
//  "plugins": ["transform-vue-jsx", "transform-runtime", "syntax-dynamic-import"],
//  "env": {
//    "test": {
//      "presets": ["env", "stage-2"]
//    }
//  }
//}
