@charset "UTF-8";
@font-face {
  font-family: "paas-icon";
  src: url("./paas-icon.woff") format("woff"); }

.paas-icon-svg {
  width: 24px;
  height: 24px; }

[class^="paas-icon-"] {
  font-family: paas-icon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased; }

.paas-icon-add:before, .paas-icon-align-center:before, .paas-icon-align-left:before, .paas-icon-align-right:before, .paas-icon-app:before, .paas-icon-back:before, .paas-icon-bars:before, .paas-icon-bold:before, .paas-icon-charts:before, .paas-icon-close:before, .paas-icon-cloud-download:before, .paas-icon-cluster:before, .paas-icon-code-html:before, .paas-icon-columns:before, .paas-icon-config:before, .paas-icon-copy:before, .paas-icon-default-middleware:before, .paas-icon-delete-3:before, .paas-icon-delete:before, .paas-icon-docs:before, .paas-icon-domain:before, .paas-icon-double-arrow-right:before, .paas-icon-edit:before, .paas-icon-eye-slash:before, .paas-icon-eye:before, .paas-icon-fa-arrow-down:before, .paas-icon-fa-arrow-left:before, .paas-icon-fa-arrow-right:before, .paas-icon-fa-arrow-up:before, .paas-icon-fa-arrows-alt:before, .paas-icon-fa-backward:before, .paas-icon-fa-caret-down:before, .paas-icon-fa-caret-left:before, .paas-icon-fa-caret-right:before, .paas-icon-fa-caret-up:before, .paas-icon-fa-circle-o:before, .paas-icon-fa-circle:before, .paas-icon-fa-compress:before, .paas-icon-fa-download:before, .paas-icon-fa-eject:before, .paas-icon-fa-expand:before, .paas-icon-fa-fast-backward:before, .paas-icon-fa-fast-forward:before, .paas-icon-fa-file-o:before, .paas-icon-fa-forward:before, .paas-icon-fa-hand-o-down:before, .paas-icon-fa-hand-o-left:before, .paas-icon-fa-hand-o-right:before, .paas-icon-fa-hand-o-up:before, .paas-icon-fa-home:before, .paas-icon-fa-level-up:before, .paas-icon-fa-long-arrow-down:before, .paas-icon-fa-long-arrow-left:before, .paas-icon-fa-long-arrow-right:before, .paas-icon-fa-long-arrow-up:before, .paas-icon-fa-pause-circle-o:before, .paas-icon-fa-pause-circle:before, .paas-icon-fa-pause:before, .paas-icon-fa-play-circle-o:before, .paas-icon-fa-play-circle:before, .paas-icon-fa-play:before, .paas-icon-fa-question:before, .paas-icon-fa-random:before, .paas-icon-fa-square-o:before, .paas-icon-fa-square:before, .paas-icon-fa-step-backward:before, .paas-icon-fa-step-forward:before, .paas-icon-fa-stop-circle-o:before, .paas-icon-fa-stop-circle:before, .paas-icon-fa-stop:before, .paas-icon-fa-upload:before, .paas-icon-fa-warning:before, .paas-icon-feedback:before, .paas-icon-group-1:before, .paas-icon-group:before, .paas-icon-header:before, .paas-icon-image:before, .paas-icon-images:before, .paas-icon-instance:before, .paas-icon-italic:before, .paas-icon-jenkins:before, .paas-icon-key:before, .paas-icon-level-up:before, .paas-icon-link:before, .paas-icon-list-ol:before, .paas-icon-list-ul:before, .paas-icon-log:before, .paas-icon-logout:before, .paas-icon-manage:before, .paas-icon-mariadb:before, .paas-icon-markdown:before, .paas-icon-message-2:before, .paas-icon-message:before, .paas-icon-mongo-bucket:before, .paas-icon-mongodb:before, .paas-icon-more:before, .paas-icon-mysql-bucket:before, .paas-icon-mysql:before, .paas-icon-oauth:before, .paas-icon-openshift:before, .paas-icon-picture-o:before, .paas-icon-pipeline:before, .paas-icon-pointer-left:before, .paas-icon-popover-2:before, .paas-icon-popover:before, .paas-icon-postgresql-bucket:before, .paas-icon-postgresql:before, .paas-icon-profile:before, .paas-icon-question-circle:before, .paas-icon-quote-left:before, .paas-icon-rabbitmq:before, .paas-icon-redis-bucket:before, .paas-icon-redis:before, .paas-icon-repeat:before, .paas-icon-restart:before, .paas-icon-save:before, .paas-icon-screen-expand:before, .paas-icon-screen-shrink:before, .paas-icon-secure:before, .paas-icon-service:before, .paas-icon-strikethrough:before, .paas-icon-subscript:before, .paas-icon-superscript:before, .paas-icon-table:before, .paas-icon-thumb-tack:before, .paas-icon-times:before, .paas-icon-trash-o:before, .paas-icon-underline:before, .paas-icon-undo:before, .paas-icon-user:before, .paas-icon-window-maximize:before, .paas-icon-work-order:before {
  font-family: "paas-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.paas-icon-add:before {
  content: ""; }

.paas-icon-align-center:before {
  content: ""; }

.paas-icon-align-left:before {
  content: ""; }

.paas-icon-align-right:before {
  content: ""; }

.paas-icon-app:before {
  content: ""; }

.paas-icon-back:before {
  content: ""; }

.paas-icon-bars:before {
  content: ""; }

.paas-icon-bold:before {
  content: ""; }

.paas-icon-charts:before {
  content: ""; }

.paas-icon-close:before {
  content: ""; }

.paas-icon-cloud-download:before {
  content: ""; }

.paas-icon-cluster:before {
  content: ""; }

.paas-icon-code-html:before {
  content: ""; }

.paas-icon-columns:before {
  content: ""; }

.paas-icon-config:before {
  content: ""; }

.paas-icon-copy:before {
  content: ""; }

.paas-icon-default-middleware:before {
  content: ""; }

.paas-icon-delete-3:before {
  content: ""; }

.paas-icon-delete:before {
  content: ""; }

.paas-icon-docs:before {
  content: ""; }

.paas-icon-domain:before {
  content: ""; }

.paas-icon-double-arrow-right:before {
  content: ""; }

.paas-icon-edit:before {
  content: ""; }

.paas-icon-eye-slash:before {
  content: ""; }

.paas-icon-eye:before {
  content: ""; }

.paas-icon-fa-arrow-down:before {
  content: ""; }

.paas-icon-fa-arrow-left:before {
  content: ""; }

.paas-icon-fa-arrow-right:before {
  content: ""; }

.paas-icon-fa-arrow-up:before {
  content: ""; }

.paas-icon-fa-arrows-alt:before {
  content: ""; }

.paas-icon-fa-backward:before {
  content: ""; }

.paas-icon-fa-caret-down:before {
  content: ""; }

.paas-icon-fa-caret-left:before {
  content: ""; }

.paas-icon-fa-caret-right:before {
  content: ""; }

.paas-icon-fa-caret-up:before {
  content: ""; }

.paas-icon-fa-circle-o:before {
  content: ""; }

.paas-icon-fa-circle:before {
  content: ""; }

.paas-icon-fa-compress:before {
  content: ""; }

.paas-icon-fa-download:before {
  content: ""; }

.paas-icon-fa-eject:before {
  content: ""; }

.paas-icon-fa-expand:before {
  content: ""; }

.paas-icon-fa-fast-backward:before {
  content: ""; }

.paas-icon-fa-fast-forward:before {
  content: ""; }

.paas-icon-fa-file-o:before {
  content: ""; }

.paas-icon-fa-forward:before {
  content: ""; }

.paas-icon-fa-hand-o-down:before {
  content: ""; }

.paas-icon-fa-hand-o-left:before {
  content: ""; }

.paas-icon-fa-hand-o-right:before {
  content: ""; }

.paas-icon-fa-hand-o-up:before {
  content: ""; }

.paas-icon-fa-home:before {
  content: ""; }

.paas-icon-fa-level-up:before {
  content: ""; }

.paas-icon-fa-long-arrow-down:before {
  content: ""; }

.paas-icon-fa-long-arrow-left:before {
  content: ""; }

.paas-icon-fa-long-arrow-right:before {
  content: ""; }

.paas-icon-fa-long-arrow-up:before {
  content: ""; }

.paas-icon-fa-pause-circle-o:before {
  content: ""; }

.paas-icon-fa-pause-circle:before {
  content: ""; }

.paas-icon-fa-pause:before {
  content: ""; }

.paas-icon-fa-play-circle-o:before {
  content: ""; }

.paas-icon-fa-play-circle:before {
  content: ""; }

.paas-icon-fa-play:before {
  content: ""; }

.paas-icon-fa-question:before {
  content: ""; }

.paas-icon-fa-random:before {
  content: ""; }

.paas-icon-fa-square-o:before {
  content: ""; }

.paas-icon-fa-square:before {
  content: ""; }

.paas-icon-fa-step-backward:before {
  content: ""; }

.paas-icon-fa-step-forward:before {
  content: ""; }

.paas-icon-fa-stop-circle-o:before {
  content: ""; }

.paas-icon-fa-stop-circle:before {
  content: ""; }

.paas-icon-fa-stop:before {
  content: ""; }

.paas-icon-fa-upload:before {
  content: ""; }

.paas-icon-fa-warning:before {
  content: ""; }

.paas-icon-feedback:before {
  content: ""; }

.paas-icon-group-1:before {
  content: ""; }

.paas-icon-group:before {
  content: ""; }

.paas-icon-header:before {
  content: ""; }

.paas-icon-image:before {
  content: ""; }

.paas-icon-images:before {
  content: ""; }

.paas-icon-instance:before {
  content: ""; }

.paas-icon-italic:before {
  content: ""; }

.paas-icon-jenkins:before {
  content: ""; }

.paas-icon-key:before {
  content: ""; }

.paas-icon-level-up:before {
  content: ""; }

.paas-icon-link:before {
  content: ""; }

.paas-icon-list-ol:before {
  content: ""; }

.paas-icon-list-ul:before {
  content: ""; }

.paas-icon-log:before {
  content: ""; }

.paas-icon-logout:before {
  content: ""; }

.paas-icon-manage:before {
  content: ""; }

.paas-icon-mariadb:before {
  content: ""; }

.paas-icon-markdown:before {
  content: ""; }

.paas-icon-message-2:before {
  content: ""; }

.paas-icon-message:before {
  content: ""; }

.paas-icon-mongo-bucket:before {
  content: ""; }

.paas-icon-mongodb:before {
  content: ""; }

.paas-icon-more:before {
  content: ""; }

.paas-icon-mysql-bucket:before {
  content: ""; }

.paas-icon-mysql:before {
  content: ""; }

.paas-icon-oauth:before {
  content: ""; }

.paas-icon-openshift:before {
  content: ""; }

.paas-icon-picture-o:before {
  content: ""; }

.paas-icon-pipeline:before {
  content: ""; }

.paas-icon-pointer-left:before {
  content: ""; }

.paas-icon-popover-2:before {
  content: ""; }

.paas-icon-popover:before {
  content: ""; }

.paas-icon-postgresql-bucket:before {
  content: ""; }

.paas-icon-postgresql:before {
  content: ""; }

.paas-icon-profile:before {
  content: ""; }

.paas-icon-question-circle:before {
  content: ""; }

.paas-icon-quote-left:before {
  content: ""; }

.paas-icon-rabbitmq:before {
  content: ""; }

.paas-icon-redis-bucket:before {
  content: ""; }

.paas-icon-redis:before {
  content: ""; }

.paas-icon-repeat:before {
  content: ""; }

.paas-icon-restart:before {
  content: ""; }

.paas-icon-save:before {
  content: ""; }

.paas-icon-screen-expand:before {
  content: ""; }

.paas-icon-screen-shrink:before {
  content: ""; }

.paas-icon-secure:before {
  content: ""; }

.paas-icon-service:before {
  content: ""; }

.paas-icon-strikethrough:before {
  content: ""; }

.paas-icon-subscript:before {
  content: ""; }

.paas-icon-superscript:before {
  content: ""; }

.paas-icon-table:before {
  content: ""; }

.paas-icon-thumb-tack:before {
  content: ""; }

.paas-icon-times:before {
  content: ""; }

.paas-icon-trash-o:before {
  content: ""; }

.paas-icon-underline:before {
  content: ""; }

.paas-icon-undo:before {
  content: ""; }

.paas-icon-user:before {
  content: ""; }

.paas-icon-window-maximize:before {
  content: ""; }

.paas-icon-work-order:before {
  content: ""; }
