/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table,
table td {
  padding: 0;
  border: none;
  //border-collapse: collapse;
}

img {
  vertical-align: middle;
}

embed {
  vertical-align: middle;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}

input,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}

iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  margin: 0;
  padding: 0px;
}

/* ---------------------------------------------------------------------------- */

/* ------------------------------------Html-Body------------------------------- */

/* ---------------------------------------------------------------------------- */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased
}

a {
  color: #4C4C4C;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
  text-decoration: none;
}

blockquote {
  padding-left: 10px
}

blockquote,
q {
  quotes: none;
}

code {
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  font-size: 25px;
  line-height: 25px;
}

.clear:before, .clear:after {
  display: table;
  content: '';
}
.clear:after {
  clear: both;
}


.el-tag {
}
.el-alert__content {
  overflow: scroll;
}

::-webkit-scrollbar { width: 2px; height: 2px;}


.el-message-box {
  width: 80%;
  max-width: 600px;
}

#app {
  .el-dialog {
    .el-dialog__header {
      //background-color: #d9ecff;
    }
    .el-dialog__body {
      padding: 0px 15px;
    }
  }

  .el-table {
    thead {
      tr {
        background-color: #d9ecff;
      }
    }
    th, td {
      padding: 10px 0px;
      border-bottom: 1px solid #e6ebf5;
      //border-bottom: 1px solid lightgray;
      //border-bottom: 1px solid #409EFF;
    }
    .cell {
      text-overflow: initial;
    }
    //hide expand column
    .el-table__expand-column .cell {
      display: none;
    }
    .el-table__body {
      .el-table__row {
        &.current-row > td {
          background-color: white;
        }
      }
    }
  }

  .el-form {
    .el-form-item {
      .el-form-item__content {
        text-align: left;
      }
    }
  }

  .el-date-editor.custom {
    font-size: 12px;
    width: 230px;
    .el-input__icon {
      width: 22px;
    }
    .el-range-separator {
      padding: 0px;
    }
    .el-range-input {
      width: 36%;
    }
  }

  /*fix the style of el-select when filterable property is used*/
  .el-select.el-select--mini {
    .el-select__tags {
      .el-select__input.is-mini {
        margin-left: 10px;
      }
    }
  }

  .el-loading-mask {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .el-textarea__inner {
    padding: 5px;
  }

  .el-notification {
    .el-notification__group {
      width: 100%;
      .el-notification__content {
        overflow: scroll;
      }
    }
  }

  .pagination-container {
    padding-bottom: 3px;

    padding-left: 180px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 80;

    &.disable {
      pointer-events: none;
      cursor: wait;
    }

    /*width: 100%;*/
    .pagination {
      text-align: center;
      padding: 0px 4px;
      .el-pagination {
        //font-weight: normal;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #e6ebf5;
        button {
          &.btn-prev, &.btn-next {
            height: 28px;
            background-color: transparent;
            padding: 0px 6px;
          }
        }
        .el-pager {
          li {
            min-width: 28px;
            height: 28px;
            background-color: transparent;
            &.number {
              padding: 0px 0px;
              font-size: 14px;
              line-height: 28px;
              background-color: transparent;
              &.active {
                font-size: 14px;
                color: #409EFF;
                text-decoration: none;
                cursor: text;
              }
            }
            &:hover {
              //color: #2d2f33;
              //font-weight: bold;
              color: #2d2f33;
              text-decoration: underline;
              //font-size: 16px;
            }
            &.btn-quicknext, &.btn-quickprev {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}