// NOTICE: this file is imported by sass-resources-loader, it is global and can be used in any style

$--color-primary: #409EFF !default;
$--color-success: #67c23a !default;
$--color-warning: #eb9e05 !default;
$--color-danger: #fa5555 !default;
$--color-info: #878d99 !default;

$g-env-fpdev-color: #409EFF;
$g-env-test-color: #28a745;
$g-env-performance-color: #17a2b8;
$g-env-beta-color: #ffc107;
$g-env-production-color: #F56C6C;
$g-env-staging-color: #EF5b9C;


@each $env, $color in (
        fpdev: $g-env-fpdev-color,
        test: $g-env-test-color,
        performance: $g-env-performance-color,
        beta: $g-env-beta-color,
        production: $g-env-production-color,
        staging: $g-env-staging-color) {
  .g-env-#{$env}-color {
    color: $color
  }
}
@each $env, $color in (
        primary: $--color-primary,
        success: $--color-success,
        warning: $--color-warning,
        danger: $--color-danger,
        info: $--color-info) {
  .color-#{$env} {
    color: $color
  }
}

$--md-fade-transition-leave: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !default;
$--md-fade-transition-enter: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 200ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 200ms !default;
@mixin expand-to-next-line() {
  //display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.2;
}

.global-zoom-in-right-1-leave {
  opacity: 0;
  transform: scale(1, 1);
}
.global-zoom-in-right-1-leave-active {
  //opacity: 0;
  transform: scale(0, 0);
  transition: $--md-fade-transition-leave;
}
.global-zoom-in-right-1-enter-active {
  opacity: 1;
  transform: translateX(0);
  transform-origin: left;
  transition: $--md-fade-transition-enter;
}
.global-zoom-in-right-1-enter {
  transform: translateX(120%);
  opacity: 0;
}

.global-fade-1-leave {
  opacity: 1;
  //transform: scale(1, 1);
}
.global-fade-1-leave-active {
  opacity: 0;
  //transform: scale(0, 0);
  transition: $--md-fade-transition-leave;
}
.global-fade-1-enter {
  transform: translateX(120%);
  opacity: 0;
}
.global-fade-1-enter-active {
  opacity: 1;
  transform: translateX(0);
  transform-origin: left;
  transition: $--md-fade-transition-enter;
}

.max-width-500 {
  max-width: 500px !important;
}
.max-width-550 {
  max-width: 50px !important;
}
.max-width-600 {
  max-width: 600px !important;
}
.max-width-650 {
  max-width: 650px !important;
}
.max-width-700 {
  max-width: 700px !important;
}
.max-width-750 {
  max-width: 750px !important;
}
.max-width-800 {
  max-width: 800px !important;
}
.max-width-850 {
  max-width: 850px !important;
}
.max-width-900 {
  max-width: 900px !important;
}
.max-width-950 {
  max-width: 950px !important;
}